.loadout-gear-list-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 2rem;
	margin-right: 2rem;
}

.loadout-gear-list-item {
	flex: 1;

	min-width: 250px;
	max-width: 33%;
	min-height: 200px;
	max-height: 300px;

	padding: 1rem 1.5rem;
}