.card-list {
	display: flex;
	flex-wrap: wrap;

	transition: all 0.4s ease-out;
}

.card {
	position: relative;
}

.card-list .card {
	opacity: 0;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-name: fadein;
}

.card .card-action {
	position: absolute;
	top: 0;
	right: 0;

	padding: 0;
}

.card-action i {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.1rem;

	padding: 7px;
	border-radius: 25%;
}

.card-action i:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.weapon-card {
	height: 300px;
	min-width: 220px;
	width: 220px;
	margin-top: 10px;
}

.attachment-card {
	height: 125px;
	width: 220px;
	margin-top: 10px;
}

.loadout-card {
	width: 100%;
	height: 175px;
}

.weapon-card:hover,
.attachment-card:hover {
	transform: scale(1.05);
	transition: transform ease-in 0.15s;
}

.loadout-card:hover {
	transform: scale(1.015);
	transition: transform ease-in 0.15s;
}

.weapon-card:not(:last-child),
.attachment-card:not(:last-child) {
	margin-right: 20px;
}

.loadout-card:not(:first-child) {
	margin-top: 20px;
}
