.user-profile {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.user-name {
	margin-right: 15px !important;
}

.avatar-button {
	border: 0;
	background-color: inherit;
	cursor: pointer;
	margin-left: -12;
	margin-right: 20;
}

.avatar-icon {
	color: white;
	font-size: 1.5rem;
	margin-left: -12;
	margin-right: 20;
}
