.logo-box {
	display: flex;
	justify-content: center;
	margin-top: 8px;
	margin-bottom: 24px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-size: 3rem;
	padding-top: 10px;
	letter-spacing: 2px;
}