{
	"extends": [
		"react-app",
		"plugin:react/recommended",
		"eslint:recommended"
		// Uncomment once we add jest testing with testing-library
		// "react-app/jest"
	],
	"rules": {
		"indent": ["error", "tab"],
		"quotes": ["error", "single"],
		"semi": ["error", "never"],
		"dot-location": ["error", "property"],
		"no-var": "error",
		"no-console": "warn",
		"no-useless-escape": "error",
		"no-useless-return": "error",
		"no-unused-vars": "warn",
		"jsx-quotes": ["error", "prefer-single"],
		"comma-spacing": [
			"error",
			{
				"before": false,
				"after": true
			}
		],
		"keyword-spacing": [
			"warn",
			{
				"before": true,
				"after": true
			}
		],
		"newline-per-chained-call": [
			"error",
			{
				"ignoreChainWithDepth": 1
			}
		],
		"space-before-function-paren": ["error", { "named": "never" }],
		"react/button-has-type": "warn",
		"react/no-access-state-in-setstate": "error",
		"react/no-deprecated": "error",
		"react/no-direct-mutation-state": "error",
		"react/no-find-dom-node": "error",
		"react/no-is-mounted": "error",
		"react/no-multi-comp": "error",
		"react/no-redundant-should-component-update": "error",
		"react/no-render-return-value": "error",
		"react/no-this-in-sfc": "error",
		"react/prefer-es6-class": "error",
		"react/no-unused-state": "error",
		"react/no-unsafe": "error",
		"react/no-unknown-property": "error",
		"react/react-in-jsx-scope": "error",
		"react/prop-types": [
			"error",
			{
				"ignore": ["children", "theme", "history", "match", "location"]
			}
		],
		"react/require-default-props": "error",
		"react/self-closing-comp": [
			"error",
			{
				"component": true,
				"html": true
			}
		],
		"react/style-prop-object": "error",
		"react/void-dom-elements-no-children": "error",
		"react/jsx-boolean-value": ["error", "always"],
		"react/jsx-closing-tag-location": "error",
		"react/jsx-curly-spacing": ["error", "always"],
		"react/jsx-equals-spacing": ["error", "never"],
		"react/jsx-indent-props": ["warn", "tab"],
		"react/jsx-no-duplicate-props": "error",
		"react/jsx-pascal-case": "error",
		"react/jsx-props-no-multi-spaces": "error"
	}
}
