{
	"tabWidth": 2,
	"printWidth": 90,
	"proseWrap": "always",
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": true
}
