{
	"eslintIntegration": true,
	"tabWidth": 2,
	"printWidth": 120,
	"proseWrap": "always",
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true
}
