language: node_js
node_js:
    - 8.9.4
cache:
    directories:
        - node_modules
script:
    - npm run lint
    - npm run build
before_deploy:
    - cd functions && npm i && cd ..
deploy:
    skip_cleanup: true
    provider: firebase
    on:
        tags: true
    project: raifu-prod
after_deploy:
    # This is necessary due to firebase cli not being installed in before_deploy
    - firebase functions:config:set db.user=$DB_USER db.password=$DB_PASSWORD db.name=$DB_NAME db.host=$DB_HOST
      --project raifu-prod
    - firebase deploy --only functions --project raifu-prod
