language: node_js
node_js:
    - 10.13.0
cache:
    directories:
        - node_modules
script:
    - npm run build
before_deploy:
    - npm i -g firebase-tools
    - cd functions && npm i && cd ..
    - firebase functions:config:set db.user=$DB_USER db.password=$DB_PASSWORD db.name=$DB_NAME db.host=$DB_HOST
      --project raifu-prod
deploy:
    skip_cleanup: true
    provider: firebase
    on:
        tags: true
    project: raifu-prod
