.icon-action {
	margin-left: 10px;
	font-size: 1rem;
	cursor: pointer;
}

.loadout-select-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/* Todo this could be achieved with separator padding */
.loadout-separator-item {
	width: 100%;
	padding-bottom: 24px;
	border-top: 1px solid;
}

@media (max-width: 767px) {
	.loadout-separator-item {
		padding-bottom: 16px;
	}
}