.icon-action {
	margin-left: 10px;
	font-size: 0.8rem;
	cursor: pointer;
}

.loadout-slot-list {
	display: flex;
	flex-wrap: wrap;
}

.loadout-select-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}