.login-providers-container {
	text-align: center;
	margin-top: 20px;
}

.login-signup {
	text-align: right;
	margin-bottom: -16px;
	margin-right: -8px;
}

@media (min-width: 600px) {
	.login-signup {
		margin-bottom: -20px;
	}
}

.login-signup > a {
	text-decoration: none;
	color: inherit;
	font-size: 0.9rem;
}
