.loadout-weapon-item {
	position: relative;
	flex: 1;

	min-height: 300px;
	min-width: 300px;

	max-height: 500px;
	max-width: 500px;
}

.loadout-weapon-item-title {
	position: absolute;
	top: 0;
	left: 0;
}

.loadout-weapon-attachment-list-container {
	display: flex;
	flex-wrap: wrap;
	flex: 2;

	margin-left: 5%;
}

.loadout-weapon-attachment-item {
	max-height: 50%;

	min-width: 300px;
	max-width: 33%;
	flex-grow: 1;
}