.loadout-weapon-item-container {
	display: flex;
}

.loadout-weapon-item {
	position: relative;
	flex: 1;
}

.loadout-weapon-item h2, 
.loadout-weapon-item h3, 
.loadout-weapon-item h4, 
.loadout-weapon-item h5,
.loadout-weapon-item h6  {
	position: absolute;
}

.loadout-weapon-attachment-list-container {
	display: flex;
	flex-wrap: wrap;
	flex: 2;

	margin-left: 5%;
}

.loadout-weapon-attachment-item-text {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 16px;
}

.loadout-weapon-attachment-item {
	max-height: 50%;

	min-width: 300px;
	max-width: 33%;
	flex-grow: 1;
}

@media (max-width: 768px) {
	.loadout-weapon-item {		
		max-height: initial;
		max-width: initial;
	}

	.loadout-weapon-item h2, 
	.loadout-weapon-item h3, 
	.loadout-weapon-item h4, 
	.loadout-weapon-item h5,
	.loadout-weapon-item h6  {
		position: initial;
	}

	.loadout-weapon-attachment-list-container {
		justify-content: space-between;
		margin-left: 0;
	}

	.loadout-weapon-attachment-item {
		min-width: 45%;
		min-height: 125px;
	}

	.loadout-weapon-item img {
		max-height: 300px;
	}

	.loadout-weapon-item-container {
		flex-direction: column;
	}

	.loadout-weapon-attachment-item img {
		width: 100%;
	}
}