.loadout-weapon-item-container {
	display: flex;
}

.loadout-weapon-attachment-list-container {
	flex: 2;
}

@media (max-width: 768px) {
	.loadout-weapon-item-container {
		flex-direction: column;
	}
}