.separator-padding {
	padding-top: 24px;
	padding-bottom: 24px;
}

.separator-padding:last-child {
	padding-bottom: 0px;
}

@media (max-width: 767px) {
	.separator-padding {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}
