.add-card {
	display: inline-block;
}

.add-card-btn-wrapper {
	position: relative;
	height: 100%;
}

.add-card .add-card-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);

	background-color: inherit;
	cursor: pointer;
	border: 0;
	padding: 40px;
	border-radius: 50%;
	background-color: #4f5463b0;
}

.add-card .add-card-btn > i {
	color: white;
	font-size: 4rem;
}
