/* Shared Card Styles */
.card-list {
	display: flex;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;

	opacity: 0;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-name: fadein;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.card .card-action {
	position: absolute;
	top: 0;
	right: 0;

	padding: 0;
}

.card .card-action i {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.1rem;

	padding: 7px;
	border-radius: 25%;
}

.card .card-action i:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.card .card-content {
	position: relative;
	flex-grow: 1;
}

.card .card-content > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 5px;

	max-height: 95%;
	max-width: 95%;
}

/* Item Card Styles */
.weapon-card {
	height: 300px;
	min-width: 220px;
	width: 220px;

	margin-top: 10px;
	margin-right: 20px;
}

.attachment-card {
	min-height: 125px;
	width: 220px;

	margin-top: 10px;
	margin-right: 20px;
}

.loadout-card {
	width: 100%;
	min-height: 175px;
}

@media (max-width: 767px) {
	.weapon-card {
		height: 200px;
		min-width: 147px;
		width: 147px;
	}

	.attachment-card {
		height: 85px;
		width: 147px;
	}
}

.weapon-card:hover,
.attachment-card:hover {
	transform: scale(1.05);
	transition: transform ease-in 0.15s;
}

.loadout-card:hover {
	transform: scale(1.015);
	transition: transform ease-in 0.15s;
}

.loadout-card:not(:first-child) {
	margin-top: 20px;
}
