.app {
	padding: 40px 60px;
}

.app-window {
	min-height: 100%;
	margin-top: 1.1rem;
}

.section-container:not(:first-child) {
	margin-top: 1.1rem;
}

.section-container h3 {
	margin: 0.8rem 0rem 0.2rem;
}

@media (max-width: 767px) {
	.app {
		padding: 20px;
	}
}
