.loadout-resource-list-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 2rem;
	margin-right: 2rem;
}

.loadout-resource-list-item {
	flex: 1;

	min-width: 250px;
	max-width: 33%;
	min-height: 200px;
	max-height: 300px;

	padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
	.loadout-resource-list-container {
		margin-left: 0;
		margin-right: 0;
	}

	.loadout-resource-list-item {	
		min-width: 150px;
		max-width: 50%;
		min-height: 100px;
		max-height: 200px;
	}
}