.loadout-resource-list-container {
	display: flex;
	flex-wrap: wrap;
}

.loadout-resource-list-item {
	flex: 1 1 auto;

	min-width: 250px;
	max-width: 33%;
	min-height: 200px;
	max-height: 300px;

	padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
	.loadout-resource-list-item {	
		min-width: 150px;
		max-width: 50%;
		min-height: 100px;
		max-height: 200px;

		padding: 0.4rem 1rem;
	}
}