/* Make days not belonging to the month match the background color */
.rbc-off-range-bg,
.rbc-today {
	background: inherit;
}

/* Make the day slots use a pointer */
.rbc-day-bg,
.rbc-row:not(.rbc-month-header) {
	cursor: pointer;
}

/* Style event itself */
.rbc-event {
	font-size: 0.9rem;
	text-overflow: ellipsis;
	background: inherit;
	/* Static height is necessary to ge the '+ X More' to show */
	height: 50px;
	margin-bottom: 2px;
}

.rbc-show-more {
	background-color: inherit;
	color: inherit;
}

.rbc-overlay {
	background-color: inherit;
}
